///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;
$gray: #bbb;


$mainBlue: #243971;
$lightBlue: rgba(42 , 92, 165, .8);
$pointBrown: #927646;
$pointYellow: #efb23d;
$subBlue: #126bdc;
$pointBlue: #0098e4;
$textPrimary: #337ab7;
$footerGrey: #444;
$footerFont: #e3e4e5;

$border: #ddd;

///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1320px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'Noto Sans KR', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
$lato: 'Lato', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;